
h1 {
  color: white;
  background-color: teal;
  padding: 10px;
  margin: 10px 10px 10px 0;
}

h2 {
  color: teal;
}

.img-fluid {
  margin-right: 10px;
  border-radius: 50%;
}

p {
  line-height: 150%;
}

.photos {
  /* position: absolute; */
}

.fixed-bottom {
  background-color: gray;
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-size: 10px;
}