
  h1 {
    color: white;
    background-color: teal;
    padding: 10px 10px 10px 0;
    margin: 10px 10px 10px 0;
    font-family: cursive;
  }

  h2 {
    color: teal;
    text-align: center;
  }
  
  h3 {
    color: teal;
    text-align: center;
    font-family: sans-serif;
  }
  
  .img-fluid {
    margin-right: 10px;
    border-radius: 50%;
  }
  
  #imagecotainer {
    width: 300px;
    height: 300px;
    display: flex;
    margin-bottom: 0px;
  }
  
  p {
    line-height: 150%;
    margin: 0px;
  }
  
  .photos {
    position: relative;
    margin: 5px;
  }
  
  #portfolioCollection {
    justify-content: space-evenly;
  }

  .portfoliotext {
    position: absolute;
    color: white;
    top: 80%;
    left: px;
    float: left;
    clear: both;
    background-color: teal;
    width: 300px;
    text-align: center;
    padding: 10px;
    font-style: oblique;
  }

  .message {
    height: 25%;
  }

  .imagerow {
      float:left;
  }
  

  .fixed-bottom {
    clear: both;
    background-color: gray;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
  }